[submodule "lib/robotlegs-framework"]
	path = lib/robotlegs-framework
	url = git@github.com:robotlegs/robotlegs-framework.git
[submodule "lib/feathers"]
	path = lib/feathers
	url = git@github.com:joshtynjala/feathers.git
[submodule "lib/Starling-Framework"]
	path = lib/Starling-Framework
	url = git@github.com:Gamua/Starling-Framework.git
[submodule "lib/robotlegs-utilities-macrobot"]
	path = lib/robotlegs-utilities-macrobot
	url = git@github.com:alebianco/robotlegs-utilities-macrobot.git
[submodule "lib/robotlegs-extensions-SignalStateMachine"]
	path = lib/robotlegs-extensions-SignalStateMachine
	url = git@github.com:DavidWhittingham/robotlegs-extensions-SignalStateMachine.git
[submodule "lib/robotlegs2-starling-viewmap"]
	path = lib/robotlegs2-starling-viewmap
	url = git@github.com:jamieowen/robotlegs2-starling-viewmap.git
[submodule "lib/AS3-StateMachine-Base"]
	path = lib/AS3-StateMachine-Base
	url = git@github.com:AS3StateMachine/AS3-StateMachine-Base.git
[submodule "lib/as3-signals"]
	path = lib/as3-signals
	url = git@github.com:robertpenner/as3-signals.git
[submodule "lib/robotlegs-extensions-SignalCommandMap"]
	path = lib/robotlegs-extensions-SignalCommandMap
	url = git@github.com:robotlegs/robotlegs-extensions-SignalCommandMap.git
